<div class="logo_products">
  <div class="container">
    <div class="w3ls_logo_products_left1">
      <ul class="phone_email">
        <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : (+0123) 234 567</li>

      </ul>
    </div>
    <div class="w3ls_logo_products_left">
      <h1><a [routerLink]="'/home'">super Market</a></h1>
    </div>
    <div class="w3l_search">
      <input type="search"
             name="Search"
             placeholder="Search for a Product..."
             [(ngModel)]="searchTerm"
             required
      >
      <button type="button" class="btn btn-default search" (click)="search()">
        <i class="fa fa-search" aria-hidden="true"> </i>
      </button>
      <div>
      </div>
    </div>
  </div>
</div>
