.top-brands {
  padding: 1em;
}

.hover14.column {
  border: 1px solid #c0bebe;
  margin-bottom: 1em;
}

.header {
  padding-top: 25px;
  text-align: center;
}

.product-quick-view {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-quick-view p {
  text-align: center;
}

.price{
  text-align: center;
}

.original-price {
  text-decoration: line-through;
}

.offer-price {
  font-size: 1.2em;
  color: orangered;
}

.btn {
  margin-top: 10px;
  width: 140px;
}
