<div class="agileits_header">
  <div class="container">
    <div class="w3l_offers">
      <p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a>SHOP NOW</a></p>
    </div>
    <div class="agile-login">
      <ul>
        <li><a [routerLink]="'register'"> Create Account </a></li>
        <li><a [routerLink]="'login'">Login</a></li>
        <li><a [routerLink]="'contact'">Help</a></li>

      </ul>
    </div>
    <div class="product_list_header">
      <a class="w3view-cart" value="" [routerLink]="['cart']">
          <span class="badge"><i class="fa fa-cart-arrow-down"
                                 aria-hidden="true"></i>  {{cart.length}}</span>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
