<div class="agileits_header">
  <div class="container">
    <div class="w3l_offers">
      <p>SALE UP TO 70% OFF. USE CODE "SALE70%" . <a href="products.html">SHOP NOW</a></p>
    </div>
    <div class="agile-login">
      <ul>
        <li><a [routerLink]="'register'"> Create Account </a></li>
        <li><a [routerLink]="'login'">Login</a></li>
        <li><a [routerLink]="'contact'">Help</a></li>

      </ul>
    </div>
    <div class="product_list_header">
      <form action="#" method="post" class="last">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="display" value="1">
        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down"
                                                                            aria-hidden="true"></i></button>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
