<div class="col-md-3">
  <div class="product-quick-view">
    <figure>
      <a><img title=" " alt=" " src="../../../assets/images/7.png"></a>
      <p>{{product.name}}</p>
      <div class="stars">
        <i class="fa fa-star blue-star" aria-hidden="true"></i>
        <i class="fa fa-star blue-star" aria-hidden="true"></i>
        <i class="fa fa-star blue-star" aria-hidden="true"></i>
        <i class="fa fa-star blue-star" aria-hidden="true"></i>
        <i class="fa fa-star gray-star" aria-hidden="true"></i>
      </div>
      <h4 class="price"><span [ngClass]="{'original-price': product.offerPrice > 0}">{{product.price | currency:'USD':true}}</span>
        <span class="offer-price">{{product.offerPrice | currency:'USD':true}}</span>
      </h4>
      <button class="btn btn-success" type="button" name="submit" (click)="addToCart(product)">Add To Cart</button>
    </figure>
  </div>
</div>

