<div class="navigation-agileits">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
          <li [routerLinkActive]="'active'"><a [routerLink]="'home'">HOME</a></li>

          <li *ngFor="let category of menu"
              [routerLinkActive]="'active'">
            <a [routerLink]="['products',category.name]" [queryParams]="{id:category._id}">
              {{category.name | uppercase}}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
