<carousel>
  <slide>
    <img src="../assets/images/22.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>WHOLE SPICES PRODUCTS ARE NOW ON LINE WITH US</h3>
    </div>
  </slide>
  <slide>
    <img src="../assets/images/44.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>BUY RICE PRODUCTS ARE NOW ON LINE WITH US</h3>
    </div>
  </slide>
</carousel>
<div class="top-brands">
  <div class="container">
    <h2>Top Rated Products</h2>
  </div>
</div>
<sf-top-rated-products></sf-top-rated-products>
